<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gxd.demo.content.provider">

    <application>
        <provider
            android:name=".MyProvider"
            android:authorities="com.gxd.demo.content.provider"
            android:exported="true" />
    </application>
</manifest>